<div class="container">
    <div id="login">
        <div>
            <h1 class="header">Login</h1>
        </div>
        <form action="/login" method="post">
            <div>
                <label for="email">E-mail:</label>
                <input type="email" name="email" id="email" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required>
            </div>
            <div>
                <input class="btn-default" type="submit" value="Login">
            </div>
        </form>
        <div>
            <h5>Don't have an account? <a href="/register">Click here</a></h5>
        </div>
    </div>
</div>